.Weather {
  text-align: center;
}

.Weather form {
  text-align: right;
}

.Weather h1 {
  font-size: 60px;
  line-height: 60px;
  text-align: left;
}

.Weather h2 {
  font-size: 48px;
  line-height: 60px;
}

.Weather ul {
  display: inline-block;
  list-style: none;
  padding: 0;
  text-align: left;
  }

  .WeatherTemperature {
    font-size: 52px;
    padding-left: 10px;
  }

  .weatherIcon {
    text-align: center;
  }

  .unit {
    font-size: 16px;
    position: relative;
    top: -24px;
  }
