.Weather {
  text-align: center;
}

.Weather form {
  margin-bottom: 20px;
  padding: 0 20px 0 0;
  text-align: right;
}

.Weather h1 {
  font-size: 75px;
  line-height: 75px;
  text-align: left;
}

.Weather ul {
  display: inline-block;
  list-style: none;
  padding: 0;
  text-align: left;
  }

  .WeatherDescription {
    font-size: 13px;
  }
  
  .weatherIcon {
    text-align: center;
  }

  .WeatherInfo {
    padding: 0 0 0 20px;
  }

  .WeatherTemperature {
    font-size: 70px;
    line-height: 70px;
    padding-left: 10px;
  }

  .unit {
    font-size: 16px;
    position: relative;
    top: -37px;
  }

  .Updated {
    font-size: 12px;
    margin-bottom: 20px;
    text-align: left;
  }
